@import "tailwindcss";



button{
    cursor: pointer;
}

@font-face {
  font-family: 'Vazir'; /* نام دلخواه برای فونت */
  src: url('/fonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body{
    direction: rtl;
  font-family: 'Vazir';
}
